@page "/basket/"

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>


<AuthorizeView>
    <Authorized>
        @if (basket != null)
        {
            <RadzenHeading Size="H1" Text="Basket"></RadzenHeading>
            <br/>
            @if (basket.BasketItems.Count == 0)
            {
                <h2>No basket items found. Add some items to complete a purchase!</h2>
            }
            else
            {
                <table class="table">
                    <thead>
                    <tr>
                        <th>Thumbnail</th>
                        <th>Type</th>
                        <th>Quantity</th>
                        <th>Item Total</th>
                        <th>Remove One</th>
                        <th>Add One</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var orderLineItem in basket.BasketItems)
                    {
                        <tr>
                            <th>
                                <img src=@orderLineItem.Post.Thumbnail width="100" height="100"/>
                            </th>
                            <th>@orderLineItem.Type</th>
                            <th>@orderLineItem.Quantity</th>
                            <th>@orderLineItem.GetItemTotal()</th>
                            <td>
                                <RadzenButton style="align-content: flex-end" Click=@(args => RemoveOne(orderLineItem)) ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Submit" Icon="remove"></RadzenButton>
                            </td>
                            <td>
                                <RadzenButton style="align-content: flex-end" Click=@(args => AddOne(orderLineItem)) ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Submit" Icon="add"></RadzenButton>
                            </td>
                        </tr>
                    }
                    </tbody>
                    Total: @getPrice()
                </table>


                <div class="row">
                    <div class="col">
                        <RadzenButton style="align-content: flex-end" Click=@(args => PlaceOrder()) Text="Place Order" ButtonStyle="ButtonStyle.Secondary"></RadzenButton>
                        <RadzenButton style="margin: 0 1rem 1rem 0" Click=@(args => EmptyBasket()) Text="Empty Basket" ButtonStyle="ButtonStyle.Danger"/>
                    </div>
                </div>
            }
        }
        else
        {
            <h1>No items in basket.</h1>
        }

    </Authorized>
    <NotAuthorized>

        <h1>Login or register to add items to basket.</h1>
    </NotAuthorized>
</AuthorizeView>