@page "/feed/"


@if (User != null)
{

    if (Posts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Submission Time</th>
                    <th>Image</th>
                    <th>Caption</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Post in Posts)
                {
                    <tr>
                        <th>@Post.UploadDate.ToString("dd/MM/yyyy h:mm tt")</th>
                        <td><img src=@(Post.PhotoFile == null ? "" : $"data:{Post.MimeType};base64,{Convert.ToBase64String(Post.Thumbnail)}") /></td>
                        <td>@Post.Caption</td>
                    </tr>
                }
            </tbody>
        </table>
    }



}
else
{

    <p>No user found.</p>

}