@page "/"

<h1 class="page-title">4th Year Project</h1>
<br />
<br />
<br />

<AuthorizeView>
    <Authorized>
        <Feed></Feed>
    </Authorized>
    <NotAuthorized>


        IMAGINATIVE TEXT HERE






    </NotAuthorized>
</AuthorizeView>