@page "/"

<AuthorizeView>
    <Authorized>

    </Authorized>
    <NotAuthorized>
        <br /><br /><br /><br />
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img src="../images/banner.jpg" class="img-responsive center-block d-block mx-auto" alt="Banner">
                </div>
            </div>
        </div>



    </NotAuthorized>
</AuthorizeView>