@page "/profile/{DisplayName}"

<h1 class="page-title">All employees</h1>

@if (User != null)
{

    <p>@User.DisplayName</p>

    @if (!claimDisplayName.Equals(DisplayName))
    {
        <button class="btn btn-primary" onclick="@FollowUser();">Follow</button>
    }

    if (Posts == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Submission Time</th>
                    <th>Image</th>
                    <th>Caption</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Post in Posts)
                {
                    <tr>
                        <th>@Post.UploadDate.ToString("dd/MM/yyyy h:mm tt")</th>
                        <td><img src=@Post.Thumbnail /></td>
                        <td>@Post.Caption</td>
                    </tr>
                }
            </tbody>
        </table>
    }



}
else
{

    <p>No user found.</p>

}