@page "/orders/{UserId}"

@if (LoggedIn)
{

    <h3>Orders</h3>
    <table class="table">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Date Placed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Order in orders)
            {
                <tr>
                    <th>@Order.OrderId</th>
                    <th>@Order.DatePlaced</th>
                </tr>
            }
        </tbody>
    </table>

}
else
{



    <h1>Invalid Page.</h1>

}


}
