@page "/orders/"
@if (orders != null)
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <RadzenHeading Size="H1" Text="Orders"></RadzenHeading>
    <br />
    <br />

    <table class="table">
        <thead>
            <tr>
                <th>Order Number</th>
                <th>Date Placed</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var Order in orders)
            {
                <tr>
                    <th>@Order.OrderId</th>
                    <th>@Order.DatePlaced</th>
                </tr>
                <MatButton @onclick="() => Navigate(Order.OrderId.Value)">View Details</MatButton>
            }

        </tbody>
    </table>
}
else
{



    <h1>No orders found.</h1>

}
