@page "/post/{PostID}"

<p>fuck!</p>



@if (post == null)
{

<p><em>Post not found. Either moved, deleted.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Submission Time</th>
                <th>Image</th>
                <th>Caption</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>@post.UploadDate.ToString("dd/MM/yyyy h:mm tt")</th>
                <td><img src=@(post.PhotoFile == null ? "" : $"data:{post.MimeType};base64,{Convert.ToBase64String(post.Thumbnail)}") /></td>
                <td>@post.Caption</td>
            </tr>
        </tbody>
    </table>
}


}

