@page "/profile/analysis"
<h3>User Panel</h3>
<br />
<br />
<br />
<br />
<br />

<p>20% taken off by Fotostop. Not including taxes.</p>

@if (PieChartItems != null)
{

    <div class="row">
        <div class="col-md-6 col-sm-12 p-4">
            <RadzenChart>
                <RadzenPieSeries Data="@PieChartItems" Title="Item Type Revenue" CategoryProperty="Type" ValueProperty="Revenue" />
            </RadzenChart>
        </div>
    </div>



}

