@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h2>@ViewData["Title"]</h2>
@{

        <p>
           Welcome to fotostop! Please check your email to confirm your account.
        </p>
}