@inherits LayoutComponentBase
<div class="d-flex" id="wrapper">



    <div id="page-content-wrapper">


                 <NavMenu />
       


        <div class="container-fluid">

            @Body

        </div>
    </div>

</div>

